@import '../../Styles/mixins/breakpoint.scss';
@import '../../Styles/mixins/color.scss';
@import '../../Styles/mixins/typography.scss';
@import '../../Styles/mixins/global.scss';
@import '../../Styles/mixins/pixel.scss';

.customer-form-group-align {
    label {
        line-height: 21px !important;
        padding-bottom: 2px !important;
    }

    input {
        font-weight: 500 !important;
        text-transform: inherit !important;
    }

    ::placeholder {
        font-weight: 500 !important;
    }
}

.customer-form-group-align {
    label {
        line-height: 21px !important;
        padding-bottom: 2px !important;
        margin-bottom: 0px !important;
    }
}

.customer-grid {
    display: grid;
    grid-template-columns: 520px minmax(0, 1fr);
    gap: 0 30px;
    justify-content: space-between;

    @include responsive("mini-device") {
        grid-template-columns: 420px minmax(0, 1fr);
    }

    @include breakpoint("max-md") {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .customer-grid-items {
        .customer-information-box {
            @include same-box-design();
            height: calc(100vh - 135px);
            padding: 15px;
            padding-right: 0px;

            @include breakpoint("max-md") {
                height: calc(100vh - 599px);
            }

            .customer-list-box-height {
                height: calc(100vh - 208px);
                overflow: scroll;
                overflow-x: hidden;

                @include breakpoint("max-md") {
                    height: calc(100vh - 672px);
                }

                .customer-details-show {
                    padding: 5px 0;
                    margin-right: 15px;
                    border-bottom: 1px solid $table-border;

                    .customer-list {
                        padding: 10px 7px;
                        cursor: pointer;
                        transition: .2s ease-in-out;
                        border-radius: 3px;

                        .customer-profile-grid {
                            display: grid;
                            grid-template-columns: 39px minmax(0, 1fr);
                            gap: 0 7px;
                            align-items: center;
                            transition: .2s ease-in-out;

                            .customer-profile-grid-items {
                                .cus-profile {
                                    width: 39px;
                                    height: 39px;
                                    border-radius: 50%;
                                    background: $white;
                                    color: $blue-2;
                                    border: 2px solid $blue-border;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 18px;
                                    line-height: 27px;
                                }

                                h6 {
                                    @include text-sm-bold;
                                    color: $blue-light;
                                }

                                p {
                                    color: #193566;
                                    font-size: 12px;
                                    line-height: 18px;
                                    font-weight: 500;
                                    display: block;
                                }
                            }
                        }
                    }
                }

                .customer-details-show-active {
                    padding: 5px 0;
                    margin-right: 11px;
                    border-bottom: 1px solid $table-border;

                    .customer-list {
                        padding: 10px 7px;
                        cursor: pointer;
                        transition: .2s ease-in-out;
                        border-radius: 3px;
                        background-color: $blue-opacity;

                        .customer-profile-grid {
                            display: grid;
                            grid-template-columns: 39px minmax(0, 1fr);
                            gap: 0 7px;
                            align-items: center;
                            transition: .2s ease-in-out;

                            .customer-profile-grid-items {
                                .cus-profile {
                                    width: 39px;
                                    height: 39px;
                                    border-radius: 50%;
                                    background: $white;
                                    color: $blue-2;
                                    border: 2px solid $blue-border;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 18px;
                                    line-height: 27px;
                                }

                                h6 {
                                    @include text-sm-bold;
                                    color: $blue-light;
                                }

                                p {
                                    color: #193566;
                                    font-size: 12px;
                                    line-height: 18px;
                                    font-weight: 500;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            .customer-search {
                padding-bottom: 15px;
                border-bottom: 1px solid $table-border;
                margin-right: 15px;

                input {
                    height: 38px;
                    width: 100%;
                    background: $blue-opacity;
                    padding-left: 35px;
                    @include text-sm-bold;
                    font-weight: 500;
                    border-radius: 3px;
                    color: $gray;
                    padding-right: 15px;
                    font-weight: 500;
                    cursor: text;
                }

                ::placeholder {
                    font-weight: 500;
                    @include text-sm-bold;
                    font-weight: 500;
                }

                .search-icon-alignment {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;

                    img {}
                }
            }
        }

        .customer-full-information-box {
            @include same-box-design();
            height: calc(100vh - 233px);
            padding: 22px;
            padding-right: 0 !important;

            @include breakpoint("max-md") {
                margin-bottom: 20px !important;
            }

            .personal-date-grid {
                display: grid;
                grid-template-columns: max(268px) minmax(0, 1fr);
                gap: 0 22px;

                @include responsive("mini-device") {
                    grid-template-columns: max(248px) minmax(0, 1fr);
                }

                .personal-date-grid-items:nth-child(1) {
                    padding-right: 22px;
                    border-right: 1px solid $table-border;
                    height: calc(100vh - 253px);
                    overflow: auto;

                    .book-appointment-button {
                        button {
                            background-color: $white;
                            // box-shadow: 0px 0px 10px rgba(20, 121, 255, 0.15);
                            border-radius: 5px;
                            @include text-sm-bold;
                            border: 1px solid #C4DDFF;
                            font-size: 15px;
                            color: $blue-2;
                            padding: 5px 12px;
                            width: 100%;
                            height: 47px;
                            transition: .3s ease-in-out;

                            &:hover {
                                box-shadow: 0px 0px 10px rgba(209, 217, 230, 0.75);
                            }
                        }
                    }

                    .cus-tab-design {
                        .active-tab-cus-background {
                            background: linear-gradient(0deg, #F3F8FF, #F3F8FF);
                        }

                        ul {
                            li {
                                @include text-sm-bold;
                                font-size: 15px;
                                color: $blue-light;
                                padding: 12px 15px;
                                height: 50px;
                                cursor: pointer;
                                border-radius: 5px;
                                transition: .3s ease-in-out;

                            }
                        }
                    }

                    .customer-main-profile {
                        height: 157px;
                        background-color: $light-gray;
                        border-radius: 5px;

                        .button-center-alignment-due-payment {
                            @include flex-center;
                            justify-content: center;

                            button {
                                margin: $sm-size 0 0 0;
                                padding: 3px 8px;
                                background: #FFE7BA;
                                border-radius: 3px;
                                color: #BD6C25;
                                font-size: 12px;
                                font-weight: 500;
                                cursor: pointer;
                                font-family: "Poppins", sans-serif !important;

                                span {
                                    font-family: 'Roboto', sans-serif;
                                }
                            }

                            .profile-test-hover {

                                background-color: $white;
                                @include medium-border-radius;
                                right: 0;
                                z-index: 9999;
                                box-shadow: 0px 0px 10px rgba(209, 217, 230, 0.75);
                                opacity: 0;

                                &:hover {
                                    opacity: 1;
                                    transition: .3s ease-in-out;
                                }
                            }
                        }

                        .button-center-alignment-balance-payment {
                            @include flex-center;
                            justify-content: center;

                            button {
                                margin: $sm-size 0 0 0;
                                padding: 3px 8px;
                                background: #D1FAE5;
                                border-radius: 3px;
                                color: #387F6B;
                                font-size: 12px;
                                font-weight: 500;
                                cursor: pointer;
                                font-family: "Poppins", sans-serif;

                                span {
                                    font-family: 'Roboto', sans-serif;
                                }
                            }

                            .profile-test-hover {

                                background-color: $white;
                                @include medium-border-radius;
                                right: 0;
                                z-index: 9999;
                                box-shadow: 0px 0px 10px rgba(209, 217, 230, 0.75);
                                opacity: 0;

                                &:hover {
                                    opacity: 1;
                                    transition: .3s ease-in-out;
                                }
                            }
                        }

                        .profile-edit-delete-alignment {
                            display: flex;
                            margin-top: 15px;
                            margin-bottom: 40px;
                            justify-content: center;

                            .profile-edit-delete-alignment-align-new {
                                margin-right: 11px;
                            }

                            .profile-edit-delete-alignment-align-new-right {
                                margin-left: 11px;
                            }

                            .incon-design {
                                width: 30px;
                                height: 30px;
                                background-color: $white;
                                box-shadow: 0px 3px 3px rgba(209, 217, 230, 0.5);
                                border: 1px solid #F3F8FF;
                                border-radius: 50%;
                                display: flex;
                                cursor: pointer;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        .customer-profile-name {
                            p {
                                @include text-md-bold;
                                color: $blue-light;
                                font-weight: 600;
                                text-align: center;
                            }
                        }

                        .customer-profile-image {
                            padding-top: 10px;
                            display: flex;
                            margin-bottom: 15px;
                            justify-content: center;

                            img {
                                width: 75px;
                                height: 75px;
                                border-radius: 50%;
                                object-fit: cover;
                                // margin: 5px 0 0 0;
                            }

                        }
                    }
                }

                .personal-date-grid-items:nth-child(2) {
                    height: calc(100vh - 278px);
                    overflow: auto;
                    padding-right: 22px;
                    overflow-x: hidden;
                }

                .customer-main-edit-profile-box {
                    height: calc(100vh - 325px);
                    overflow: auto;
                    overflow-x: hidden;

                }

                .personal-date-grid-items {

                    .personal-data-grid {
                        display: grid;
                        grid-template-columns: max(120px) minmax(0, 1fr);
                        gap: 0 40px;
                        align-items: center;
                        margin-bottom: 15px;
                        padding-left: 18px;

                        @include breakpoint("max-md") {
                            padding-left: 0px;
                            grid-template-columns: max(110px) minmax(0, 1fr);
                        }

                        .personal-data-grid-items {
                            span {
                                @include text-sm-bold;
                                color: $gray;
                                font-weight: 500;
                            }

                            p {
                                @include text-sm-bold;
                                color: $blue-light;
                                font-weight: 500;
                            }
                        }
                    }

                    .personal-data-heading {
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-between;

                        h3 {
                            @include text-sm-bold;
                            font-size: 15px;
                            color: $blue-light;
                            margin: 8px 0 0 0;
                        }

                        span {
                            @include text-sm-bold;
                            font-size: 12px;
                            color: $blue-2;
                            margin: 8px 3px 0 0;
                            cursor: pointer
                        }

                        p {
                            @include text-sm-bold;
                            font-size: 12px;
                            color: $gray;
                            ;
                            margin: 8px 3px 0 0;
                            cursor: pointer
                        }
                    }


                    .personal-commision-data-heading {

                        display: flex;
                        justify-content: space-between;

                        .commission-data-heading-text-style {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 22px;
                            color: #193566;
                        }

                        img {
                            width: 20px;
                        }


                    }

                    .commission-info-box-border {
                        background: #FFFFFF;
                        border: 1px solid #C4DEFF;
                        border-radius: 3px;

                        .commission-info-box-padding {
                            padding: 15px 22px;
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid #C4DEFF;

                            span {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 21px;
                                color: #193566;
                            }
                        }


                    }

                    .service-commision-display-space-between {
                        display: flex;
                        justify-content: space-between;

                        .service-commission-block-width {
                            width: 50%;

                            .commission-right-border {
                                border-right: 1px solid #C4DEFF;
                            }

                            .commision-details-box-padding {
                                padding: 15px 22px 15px 30px;
                            }

                        }

                        .service-commission-info-details-heading {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 25px;
                            display: flex;
                            align-items: center;
                            color: #193566;
                        }

                        .service-commision-info-text-details-style {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 20px;
                            color: #193566;
                        }

                        .sevice-product-commission-box {
                            background: #FFFFFF;
                            border: 1px solid #E4E9F2;
                            box-shadow: 0px 0px 20px rgba(209, 214, 233, 0.2);
                            border-radius: 5px;
                            margin-top: 30px;


                            .service-product-commission-box-padding {
                                padding: 12px 150px 12px 22px;
                                display: flex;
                                gap: 1rem;

                            }

                            .analytics-top-categories-grid-items {
                                align-self: center;

                                p {
                                    @include text-small-bold;
                                    color: $blue-light;
                                }

                                .analytics-icon-design {
                                    width: 60px;
                                    height: 50px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: #edf9f9;
                                    border-radius: 3px;

                                    img {
                                        width: 30px;
                                    }
                                }
                            }

                            h3 {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 20px;
                                color: #193566;
                            }

                            h1 {

                                font-family: 'Verdana';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 22px;
                                line-height: 30px;

                                color: #193566;
                            }

                        }
                    }


                }
            }
        }

        .import-panel-design {
            width: 100%;
            @include same-box-design();
            padding: 15px;
            margin-bottom: 30px;

            @include breakpoint("max-md") {
                margin-bottom: 20px;
            }

            .import-panel-design-button-display {
                display: flex;
                justify-content: end;
                gap: 1rem;
            }

            .button-end-side {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .import-button-side {
                    // box-shadow: 0px 0px 10px rgba(209, 217, 230, 0.75);
                    background-color: $white;
                    display: flex;
                    margin-right: 22px;
                    align-items: center;
                    justify-content: center;
                    transition: .3s ease-in-out;
                    border: 1px solid #C4DDFF;

                    &:hover {
                        box-shadow: 0px 0px 10px rgba(209, 217, 230, 0.75);
                    }

                    span {
                        color: $blue-2;
                        padding-left: 7px;
                    }
                }

                .commission-button {
                    background: #FFFFFF;
                    border: 1px solid #C4DDFF;
                    border-radius: 3px;
                    color: $blue-2;

                }

                .add-new-button {
                    background-color: $blue-2;
                    color: $white;
                }



                button {
                    min-width: 143px;
                    height: 38px;
                    padding: 5px 12px;
                    @include text-bold;
                    font-weight: 600;
                    @include medium-border-radius;
                }
            }
        }
    }
}


.personal-transition-table {
    max-width: 100%;

    table {
        width: 100%;
        cursor: default;
    }
}


.personal-data-table tr:nth-child(1) {
    width: 25%;
}

.personal-data-table tr:nth-child(2) {
    width: 25%;
}

.personal-data-table tr:nth-child(3) {
    width: 15%;
}

.personal-data-table tr:nth-child(4) {
    width: 15%;
}

.personal-data-table tr:nth-child(5) {
    width: 20%;
}

.personal-data-table tr th {
    padding: 15px 8px;
}

.personal-data-table tr td {
    padding: 15px 8px;
}

.personal-data-table tr {
    border-top: none;
}

.personal-data-table tr th {
    @include text-sm-bold;
    color: $blue-light;
}

// 
.personal-data-table2 tr:nth-child(1) {
    width: 25%;
}

.personal-data-table2 tr:nth-child(2) {
    width: 25%;
}

.personal-data-table2 tr:nth-child(3) {
    width: 15%;
}

.personal-data-table2 tr:nth-child(4) {
    width: 15%;
}

.personal-data-table2 tr:nth-child(5) {
    width: 20%;
}

.personal-data-table2 tr th {
    padding: 15px 8px;
}

.personal-data-table2 tr td {
    padding: 15px 8px;
}

.personal-data-table2 tr {
    border-top: none;
}

.personal-data-table2 tr th {
    @include text-sm-bold;
    color: $blue-light;
}



.personal-data-table tr td {
    @include text-sm-bold;
    color: $blue-light;
    font-weight: 500;

    .convart-blue {
        cursor: pointer;

        span {
            color: #1479FF !important;
        }
    }
}

.personal-data-table2 tr td {
    @include text-sm-bold;
    color: $blue-light;
    font-weight: 500;

    .convart-blue {
        cursor: pointer;

        span {
            color: #1479FF !important;
        }
    }
}

.border-bottom-none-p {
    border-bottom: none !important;
}

.personal-data-table {
    .table-amount-style {
        p {
            @include text-sm-bold;
            color: $blue-light;
            margin: 0;
            font-weight: 500;

            span {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
        }
    }

    .alignment-table-data {
        display: flex;
        align-items: center;

        span {
            @include text-sm-bold;
            color: $blue-light;
        }

        .dot-design {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .dark-blue-background {
            background-color: #46BFBD;
        }

        .yellow-background-color {
            background-color: #FDB45C;
        }
    }
}

.personal-data-table2 {
    .table-amount-style {
        p {
            @include text-sm-bold;
            color: $blue-light;
            margin: 0;
            font-weight: 500;

            span {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
        }
    }

    .alignment-table-data {
        display: flex;
        align-items: center;

        span {
            @include text-sm-bold;
            color: $blue-light;
        }

        .dot-design {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .dark-blue-background {
            background-color: #46BFBD;
        }

        .yellow-background-color {
            background-color: #FDB45C;
        }
    }
}


.customer-total-sale-design {
    background-color: $white;
    border: 1px solid #C4DEFF;

    border-radius: $normal-pixel;
    padding: 15px 15px 15px 15px;

    .total-sale-grid {
        display: flex;
        justify-content: space-between;
        gap: 0 100px;
        align-items: center;

        @include breakpoint("max-md") {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px 0;
        }

        .total-sale-grid-items {

            // padding:  30px 0 30px 0;
            .cus-chart-grid {
                display: flex;
                // grid-template-columns: minmax(0 , 1fr) max(50px);
                justify-content: space-between;
                gap: 0 20px;

                .cus-chart-grid-items:nth-child(1) {
                    display: flex;
                    justify-content: flex-end;
                }

                .cus-chart-grid-items {
                    .customer-price-text {
                        padding-left: 15px;
                    }

                    p {
                        @include text-sm-bold;
                        color: $blue-light;
                        line-height: 18px;
                        font-weight: 500;

                        span {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                        }
                    }

                    .service-amount-text-alignment:last-child {
                        margin-bottom: 0px;
                    }

                    .service-amount-text-alignment {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 3px;

                        .tital-roun-alignment {
                            display: flex;
                            align-items: center;

                            p {
                                @include text-small-bold;
                                color: $blue-light;
                                font-weight: 500;
                                padding-left: 5px;
                            }

                            .customer-heighlight {
                                width: 13px;
                                height: 13px;
                                border-radius: 50%;
                            }

                            .first-round-background {
                                border: 2.5px solid #46BFBD;
                            }

                            .sec-round-background {
                                border: 2.5px solid #FDB45C;
                            }

                            .third-round-background {
                                border: 2.5px solid #F0E48E;
                            }
                        }
                    }
                }

            }

            .sub-grid {
                display: grid;
                grid-template-columns: max(37px) minmax(0, 1fr);
                justify-content: space-between;
                align-items: center;
                gap: 0 15px;

                .sub-grid-items {
                    p {
                        @include text-small-bold;
                        color: $blue-light;
                        margin: 0;
                        font-weight: 500;
                        margin-bottom: 5px
                    }

                    h3 {
                        @include heading-8;
                        color: $blue-light;

                        margin: 0;

                        span {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                        }
                    }

                    .box-design {
                        width: 37px;
                        height: 37px;
                        background: #edf9f8;
                        @include medium-border-radius;
                        font-size: 23px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #46BFBD;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }

        .total-sale-grid-items-chart {
            // padding: 0px 0 10px 0;

            .cus-chart-grid {
                display: flex;
                grid-template-columns: minmax(0, 1fr) max(50px);
                gap: 0 20px;

                .cus-chart-grid-items:nth-child(1) {
                    display: flex;
                    justify-content: flex-end;

                }

                .cus-chart-grid-items {
                    width: 100px;

                    .customer-price-text {
                        padding-left: 15px;
                    }

                    p {
                        white-space: nowrap;
                        @include text-sm-bold;
                        color: $blue-light;
                        line-height: 18px;
                        font-weight: 500;

                        span {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                            padding-right: 3px;
                        }
                    }

                    .service-amount-text-alignment:last-child {
                        margin-bottom: 0px;
                    }

                    .service-amount-text-alignment {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 9px;

                        .tital-roun-alignment {
                            display: flex;
                            align-items: center;

                            p {
                                @include text-small-bold;
                                color: $blue-light;
                                font-weight: 500;
                                padding-left: 5px;
                            }

                            .customer-heighlight {
                                width: 13px;
                                height: 13px;
                                border-radius: 50%;
                            }

                            .first-round-background {
                                border: 2.5px solid #46BFBD;
                            }

                            .sec-round-background {
                                border: 2.5px solid #FDB45C;
                            }

                            .third-round-background {
                                border: 2.5px solid #F0E48E;
                            }
                        }
                    }
                }

            }

            .sub-grid {
                display: grid;
                grid-template-columns: max(37px) minmax(0, 1fr);
                justify-content: space-between;
                align-items: center;
                gap: 0 15px;

                .sub-grid-items {
                    p {
                        @include text-small-bold;
                        color: $blue-light;
                        margin: 0;
                        font-weight: 500;
                        margin-bottom: 5px
                    }

                    h3 {
                        @include heading-8;
                        color: $blue-light;

                        margin: 0;

                        span {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                        }
                    }

                    .box-design {
                        width: 37px;
                        height: 37px;
                        background: #edf9f8;
                        @include medium-border-radius;
                        font-size: 23px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #46BFBD;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }
    }
}

.customer-total-sale-design-wallet {
    background-color: $white;
    box-shadow: 0px 0px 20px rgba(209, 214, 233, 0.2);
    border: 1px solid $border-color-2;
    border-radius: $normal-pixel;
    padding: 15px 15px 15px 15px;
    height: 70px;

    .total-sale-grid {
        display: flex;
        justify-content: space-between;
        gap: 0 100px;
        align-items: center;

        @include breakpoint("max-md") {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px 0;
        }

        .total-sale-grid-items {

            // padding:  30px 0 30px 0;
            .cus-chart-grid {
                display: flex;
                // grid-template-columns: minmax(0 , 1fr) max(50px);
                justify-content: space-between;
                gap: 0 20px;

                .cus-chart-grid-items:nth-child(1) {
                    display: flex;
                    justify-content: flex-end;
                }

                .cus-chart-grid-items {
                    .customer-price-text {
                        padding-left: 15px;
                    }

                    p {
                        @include text-sm-bold;
                        color: $blue-light;
                        line-height: 18px;
                        font-weight: 500;

                        span {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                        }
                    }

                    .service-amount-text-alignment:last-child {
                        margin-bottom: 0px;
                    }

                    .service-amount-text-alignment {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 3px;

                        .tital-roun-alignment {
                            display: flex;
                            align-items: center;

                            p {
                                @include text-small-bold;
                                color: $blue-light;
                                font-weight: 500;
                                padding-left: 5px;
                            }

                            .customer-heighlight {
                                width: 13px;
                                height: 13px;
                                border-radius: 50%;
                            }

                            .first-round-background {
                                border: 2.5px solid #46BFBD;
                            }

                            .sec-round-background {
                                border: 2.5px solid #FDB45C;
                            }

                            .third-round-background {
                                border: 2.5px solid #F0E48E;
                            }
                        }
                    }
                }

            }

            .sub-grid {
                display: grid;
                grid-template-columns: max(37px) minmax(0, 1fr);
                justify-content: space-between;
                align-items: center;
                gap: 0 15px;

                .sub-grid-items {
                    p {
                        @include text-small-bold;
                        color: $blue-light;
                        margin: 0;
                        font-weight: 500;
                    }

                    h3 {
                        @include heading-8;
                        color: $blue-light;

                        margin: 0;

                        span {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                        }
                    }

                    .box-design {
                        width: 37px;
                        height: 37px;
                        background: #edf9f8;
                        @include medium-border-radius;
                        font-size: 23px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #46BFBD;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }
    }
}

.analytics-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 25px;
    justify-content: space-between;

    @include breakpoint("max-md") {
        grid-template-columns: repeat(1, 1fr);
    }

    .analytics-grid-items {
        box-shadow: 0px 0px 20px rgba(209, 214, 233, 0.2);
        background-color: $white;
        border: 1px solid $border-color-2;
        padding: 15px;
        border-radius: 5px;

        .data-grid {
            display: grid;
            grid-template-columns: max(37px) minmax(0, 1fr);
            justify-content: space-between;
            align-items: center;
            gap: 0 15px;

            .data-grid-items {
                p {
                    @include text-small-bold;
                    color: $blue-light;
                    font-weight: 500;
                }

                h5 {
                    @include heading-8;
                    color: $blue-light;
                }

                .data-store-box {
                    width: 37px;
                    height: 37px;
                    @include medium-border-radius;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .first-child-box-color {
                    background-color: #edf9f9;
                }

                .sec-background-color {
                    background-color: #f5ecf0;
                }

                .three-background-color {
                    background-color: #e9edf2;
                }

            }
        }
    }
}



.import-dropdown-style {
    position: absolute;
    width: 143px;
    background-color: #fff;
}

.import-dropdown-hidden {
    max-height: 0px;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.import-dropdown-show {
    max-height: calc(100vh - 300px);
    transition: .3s ease-in-out;
}

.add-new-sub-menu-design-new {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 4px #d1d9e6;

    p {
        padding: 10px 0;
        margin: 0;
        font-size: 12px;
        cursor: pointer;
        color: $blue-2;
        border-bottom: 1px solid #D1D9E6;
        font-weight: 600;
        text-align: center;
    }
}

.cus-chart-grid {
    .cus-chart-grid-items:nth-child(1) {
        display: flex;
        align-items: center;
    }
}

.analytics-grid .analytics-grid-items .data-grid .data-grid-items h5 {
    span {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
}

.customer-total-sale-design .total-sale-grid .total-sale-grid-items .sub-grid .sub-grid-items h3 {
    span {
        font-weight: 400;
    }
}


.customer-add-membership-design {
    .membership-box-details-design {
        max-width: 460px;
        border: 1px solid rgba(20, 121, 255, 0.5);
        box-sizing: border-box;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;

        .membership-information-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
            justify-content: space-between;

            .membership-information-grid-items {
                span {
                    @include text-small-bold;
                    color: $gray-2;
                    display: block;
                }

                p {
                    @include text-sm-bold;
                    color: $blue-light;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }
    }

    .membership-card-show {
        // border: 1px solid #FF8E55;
        box-shadow: 0px 5px 30px #D1D9E6;
        border-radius: 8px;
        width: 350px;
        margin-bottom: 22px;

        .card-details-style {
            // background: linear-gradient(90deg, rgba(255, 142, 85, 0.5) 0%, rgba(255, 142, 85, 0.2) 100%);
            padding: 10px 15px;

            .all-content-alignment-text {
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    span {
                        font-size: 12px;
                        line-height: 18px;
                        color: $blue-light;
                        display: block;
                        padding: 0;
                        font-weight: 500;
                    }

                    p {
                        @include text-sm-bold;
                        color: $blue-light;
                        margin: 0;
                    }

                    h5 {
                        @include text-md-bold;
                        color: $blue-light;
                        font-weight: 600;
                        margin: 0;

                        a {
                            font-family: 'Roboto', sans-serif
                        }
                    }
                }
            }
        }

        .card-heading {

            // background: linear-gradient(90.23deg, rgba(255, 142, 85, 0.5) 0.16%, rgba(255, 142, 85, 0.2) 99.76%);
            .card-title-grid {
                display: grid;
                grid-template-columns: minmax(0, 1fr) 33px;
                gap: 0 10px;
                justify-content: space-between;
                padding: 15px;

                .card-title-grid-items {
                    .round-design {
                        width: 33px;
                        height: 33px;
                        // background: rgba(255, 142, 85, 0.2);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    p {
                        @include heading-8;
                        font-weight: 500;
                        color: $blue-light;
                        margin: 0;
                    }
                }
            }
        }
    }

    .membership-heading-style {
        padding-bottom: 22px;

        h1 {
            @include text-sm-bold;
            color: $blue-light;
        }
    }
}


.alignment-table-data-center-alignment {
    justify-content: center;
}

.noData {
    padding: 70px 0;
    text-align: center;
}

.Iconstyle {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
}

.textColour {
    color: "#97A7C3"
}

.wallet-Balance {
    // display: flex;
    align-items: center;
    justify-content: space-between;

    button {

        background: #D1FAE5;
        border-radius: 3px;
        padding: 0px 10px;
        color: #387F6B;
        font-size: 12px;
        line-height: 25px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;

        span {
            font-family: 'Roboto', sans-serif;
        }
    }
}

.wallet-Balance-due {
    // display: flex;
    align-items: center;
    justify-content: space-between;

    button {

        background: #FFE7BA;
        border-radius: 3px;
        padding: 0px 10px;
        color: #BD6C25;
        font-size: 12px;
        line-height: 25px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;

        span {
            font-family: 'Roboto', sans-serif;
        }

    }
}

.wallet-Balance-status {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
        background: #D1FAE5;
        border-radius: 3px;
        padding: 1px 10px;
        color: #387F6B;
        font-size: 12px;
        line-height: 27px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;

        span {
            font-family: 'Roboto', sans-serif;
        }
    }
}

.wallet-Due-status {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
        background: #FFE7BA;
        border-radius: 3px;
        padding: 1px 10px;
        color: #BD6C25;
        font-size: 12px;
        line-height: 27px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;

        span {
            font-family: 'Roboto', sans-serif;
        }
    }
}

.Past-Transactions-paid-status {
    // display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
        font-family: 'Poppins';
        background: #E8F2FF;
        border-radius: 3px;
        padding: 0px 10px;
        color: #1479FF;
        font-size: 10px;
        line-height: 25px;
        font-weight: 600;
        width: 75px;
        height: 25px;
    }
}

.Past-Transactions-deleted-status {
    // display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
        font-family: 'Poppins';
        background: rgba(168, 7, 26, 0.1);
        border-radius: 3px;
        padding: 0px 10px;
        color: #A8071A;
        font-size: 10px;
        line-height: 25px;
        font-weight: 600;
        width: 75px;
        height: 25px;
    }
}

.Past-Transactions-Unpaid-status {
    // display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
        font-family: 'Poppins';
        background: #FFE7BA;
        border-radius: 3px;
        padding: 0px 10px;
        color: #BD6C25;
        font-size: 10px;
        line-height: 25px;
        font-weight: 600;
        width: 75px;
        height: 25px;
    }
}

.Membership-Transactions-Unpaid-status {
    // display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
        font-family: 'Poppins';
        background: #FFE7BA;
        border-radius: 3px;
        padding: 0px 10px;
        color: #BD6C25;
        font-size: 10px;
        line-height: 25px;
        font-weight: 600;
        width: 75px;
        height: 21px;
    }
}

.Membership-Transactions-paid-status {
    // display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
        font-family: 'Poppins';
        background: #E8F2FF;
        border-radius: 3px;
        padding: 0px 10px;
        color: #1479FF;
        font-size: 10px;
        line-height: 25px;
        font-weight: 600;
        width: 75px;
        height: 21px;
    }
}


.Membership-Transactions-paid-status {
    // display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
        font-family: 'Poppins';
        background: #E8F2FF;
        border-radius: 3px;
        padding: 0px 10px;
        color: #1479FF;
        font-size: 10px;
        line-height: 25px;
        font-weight: 600;
        width: 75px;
        height: 21px;
    }
}

.flex-space-between {
    display: "flex";
    justify-content: "space-between"
}

.clear-wallet {
    // display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
        font-family: 'Poppins';
        background: #E66666;
        border-radius: 3px;
        padding: 0px 10px;
        color: #fff;
        font-size: 12px;
        line-height: 25px;
        font-weight: 600;
        width: 90px;
        height: 30px;
    }
}

.review-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0px 15px 0px;
    color: #193566;
}

.review {

    height: auto;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #98C4FF;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 30px;

    .reviewbox {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        padding: 15px;

        .invoicedetails {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #193566;

            .zerocolur {
                color: #1479FF;
                cursor: pointer;
            }
        }

        .starimg {
            // width: 100px;
            display: flex;
            height: 25px;
            left: 395px;
            top: 10.5px;
            align-self: center;
        }

        .norecord {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #97A7C3;
            align-self: center;
        }



    }

    .reviewbox-feedback {
        // display: flex;
        // flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        padding: 15px;

        .customer-feedback {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #97A7C3;
            align-self: center;
        }

        .customer-feedback-details {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #193566;
            margin: 10px 0px 0px 0px;
        }
    }

    .customer-feedback-no-record {
        width: 60px;
        height: 18px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height */
        color: #97A7C3;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .linecolour {
        border-bottom: 0.3px solid #98C4FF;
    }



}

.down-icon-alignment {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;

    span {
        color: #1479FF;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }

}

.wallet-icon-alignment-new-stroke {
    background: #FFFFFF;
    border-radius: 5px;
}

.customer-new-empty-height-alignment {
    height: calc(100vh - 209px);
    display: flex;
    align-items: center;
    justify-content: center;
}