@media (min-width:200px) and (max-width:1500px) {
    // .container-left-right-space {
    //     padding-left: 15px !important;
    //     padding-right: 15px !important;
    // }
}
@media (min-width:900px) and (max-width:1440px) {
    .font-size-40 {
        font-size: 31px;
    }
    .add-new-button-height {
        overflow-x: hidden;
        overflow: auto;
        height: calc(100vh - 211px) !important;
    }
    .staff-profile-data {
        height: calc(100vh - 117px) !important;
        overflow-x: hidden !important;
        overflow: auto ;
    }
    .plus-number {
        width: 40px !important;
        height: 40px !important;
    }
    .modal-mb-0 {
        margin-bottom: 0rem !important;
    }
    .serchbar-style {
        height: 40px !important;
    }
    .font-size-18 {
        font-size: 15px !important;
    }

    .popular-box-height {
        min-height: 185px;
    }
    .map-height {
        height: 227px !important;
    }
    .staff-box-height {
        height: calc(100vh - 118px) !important;
    }
    .staff-profile-card1 {
        height: calc(100vh - 210px) !important;
    }
    .list-box-child-height {
        // max-height: 290px !important;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .service-box-height {
        height: calc(100vh - 227px) !important;
    }
    .top-mc-pt-1 {
        padding-top: 1rem !important;
    }
    .list-price {
        height: calc(100vh - 445px) !important;
    }
    // .staff-profile-data {
    //     height: calc(100vh - 210px) !important;
    // }
    .cus-padding-map {
        padding-bottom: 15px !important;
    }
    .mini-view-heading-style {
        font-size: 25px !important;
    } 
    .mt-remove-mini {
        margin-top: 0rem !important;
    }
    .pt-mini-view {
        padding-top: 0.75rem !important;
    }
    .mini-view-font-size-19 {
        font-size: 19px;
    }
    .mini-flex {
        display: flex;
         p{
             padding-left: 10px;
         }
    }
    .mini-view-space {
        padding-top: 0.75rem;
    }
    .react-multiple-carousel__arrow--right {
        right: calc(-4% + 1px) !important;
    }
    .react-multiple-carousel__arrow--left {
        left: calc(-4% + 1px) !important;
    }
    .cus-padding-map {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .font-size-25 {
        font-size:18px;
    }
    .leptop-mb-nth {
        margin-top: 1rem;
    }
    .font-size-20 {
        font-size: 16px;
    }
    .font-size-16 {
        font-size: 13px;
    }
    .font-size-17 {
        font-size: 14px !important;
    }
    .font-size-32 {
        font-size: 28px;
    }
}
.toogle {
    display: none;
}
@media (min-width:120px) and (max-width:767px) {
    .mobile-view-block {
        display: block !important;
    }
    .m-w-full {
        width: 100%;
    }
    .working-hour-btn {
        width: 100%;
    }
    .m-start {
        display: flex !important;
        justify-content: flex-start !important;
    }
    .setting-box-scroll,.company-card {
        height: auto !important;
    }
    .m-mb-1 {
        margin-bottom: 1rem !important;
    }
    .card-footer-bottom {
        position: relative !important;
        bottom: 0 !important;
        left: 0 !important;
        transform: translateX(0%) !important;
    }
    .outline-btn-style, .cus-medium-btn {
        min-width: auto !important;
        padding: 8px 30px !important;
    }
    .m-p-1 {
        padding: 1rem !important;
    }
    .cus-medium-btn {
        width: 100%;
    }
    .outline-btn-style {
        width: 100%;
    }
    .dropdown-style {
        min-width: 100%;
        width: 100%;
    }
    .font-size-35 {
        font-size: 28px;
        padding-left: 5px;
    }
    .mobile-view-header {
        margin-top: .5rem;
    }
    header {
        padding-top: 15px;
    }
    .mobile-view-mt-1 {
        margin-top: 1rem !important;
    }
    .list-price {
        height: calc(100vh - 330px);
        margin-bottom: 1rem;
    }
    .staff-profile-card {
        height: auto !important;
    }
    .mobile-view-font-size-14  {
        font-size: 14px !important;
    }
    .font-size-25 {
        font-size: 20px;
    }
    .padding-top-remove {
        padding-top: 0rem !important;
    }
    .m-mr-0 {
        margin-right:  0 !important;
    }
    .mobile-view-between {
        display: flex !important;
        justify-content: space-between !important;
    }
    .appointment-btn {
        min-width: 169px;
        min-height: 45px;
        padding: 2px 15px;
    }
    .m-pl-1 {
        padding-left: 1rem !important;
    }
    .padding-right-remove {
        padding-right: 0rem !important;
    }
    .padding-left-remove {
        padding-left: 0rem !important;
    }
    .ml-remove {
        margin-left: 0rem !important;
    }
    .mr-remove {
        margin-right: 0rem !important;
    }
}
@media (min-width:200px) and (max-width:1250px) {
    .toogle {
        display: block;
    }
    // .content {
    //     padding-left: 0;
    // }
   
    .sidebar-banner {
        display: none;
    }
    
}
@media (min-width:768px) and (max-width:1024px) {
    .tablet-view-mt-4 {
        margin-top: 1.5rem;
    }
    // .list-box-child-height {
    //     max-height: 295px;
    //     height: 295px;
    // }
    .service-box-top-space {
        margin-top: 8rem !important;
    }
    .t-pl-0 {
        padding-left: 0rem !important;
    }
    .t-pr-0 {
        padding-right: 0rem !important;
    }
    .t-mt-1 {
        margin-top: 1rem !important;
    }  
    .list-price {
        margin-bottom: 1rem;
    }
    .t-mb-1 {
        margin-bottom: 1rem !important;
    }
    .staff-profile-card,.staff-profile-data {
        height: auto !important;
    }
}

@media (min-width:758px) and (max-width:1536px) {
    // .dashboard-box-height {
    //     height: 394px;
    // }
    // .list-box {
    //     height: 383px;
    // }
    .font-size-25 {
        font-size: 19px;
    }
    .min-popular-height {
        min-height: 235px;
    }

    .staff-box-height {
        height: calc(100vh - 117px) !important;
    }
    .staff-profile-card1 {
        height: calc(100vh - 209px) !important;
    }
    // .list-price {
    //     height: calc(100vh - 451px) !important;
    // }
    // .staff-profile-data {
    //     height: calc(100vh - 213px) !important;
    // }
    .service-box-height {
        height: calc(100vh - 234px) !important;
    }
    .card-footer-bottom {
        position: inherit !important;
        left: 0px !important;
        transform: translateX(0%) !important;
    }
}

@media (min-width:768px) and (max-width:1366px) {

    .mini-leptop-size {
        height: 35px !important;
        font-size: 12px !important;
    }
    .plus-number {
        width: 35px !important;
        height: 35px !important;
    }
    .font-20 {
        font-size: 20px;
    }
    .close-mini {
        width: 15px !important;
    }
}
@media (min-width:768px) and (max-width:1440px) {
    .cus-p-3 {
        padding: 0.75rem !important;
    }
    .service-16 {
        font-size: 16px !important;
    }
    .mac-text-md {
        font-size: 16px !important;
    }
    .mac-left-space {
        padding-left: 8px !important;
    }
}
@media (min-width:900px) and (max-width:1600px) {
    .total-heding-font {
        font-size: 19px !important;
    }
    .total-sales-font {
        font-size: 35px !important;
    }
    .working-days-btn {
        width: 50px !important;
        height: 50px !important;
        font-size: 16px !important;
        font-weight: 500 !important;
    }
    
}
@media (min-width:1200px) and (max-width:1430px) {
    .total-heding-font {
        font-size: 16px !important;
    }
    .serchbar-style {
        height: 40px !important;
    }
    .plus-number {
        width: 40px !important;
        height: 40px !important;
    }
    .modal-mb-0 {
        margin-bottom: 0rem !important;
    }
    .product-table {
        max-width: calc(100vw - 180px) !important;
        overflow: auto;
    }
    .total-sales-font {
        font-size: 20px !important;
    }
    .service-time-font {
        font-size: 14px !important;
    }
    .p-l-3 {
        padding: .75rem !important;
    }
    .border-space-same {
        margin-top: .75rem !important;
        margin-bottom: .75rem !important;
    }
    .top-align-same {
        padding-top: .75rem !important;
    }
    .proifle-same-picture {
        width: 70px !important;
        height: 70px !important;
    }
    .mini-view-flex {
        display: flex;
        align-items: center;
        p {
            padding-left: 1rem;
        }
    }
    .mini-view-flex1 {
        display: flex;
        align-items: center;
    }
    .space-minimize {
        padding: .50rem !important;
    }
    .porifle-space-remove {
        margin-top: 0rem !important;
    }
    .leptop-pt-0 {
        padding-top: 0rem !important;
    }
    .top-1rem {
        padding-top: 2rem !important;
    }
    .leptop-padding-left-remmove {
        padding-left: 0rem !important;
    }
    .setting-first-text {
        padding-top: 1.5rem !important;
    }
    .book-appoint-btn {
        min-height: 45px !important;
    }
    .staff-profile-space-none {
        margin-top: 0rem !important;
    }
    .font-size-22 {
        font-size: 18px !important;
    }
    .setting-profile {
        width: 80px !important;
        height: 80px !important;
    }
    .padding-bottom-remove {
        padding-bottom: 0rem !important;
    }
}
.create-customer-checkbox {
    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      margin: 0;
      padding: 0;
    }
  }
  .confirmation-text-color {
      color: #193566;
  }



  @media (min-width:1025px) and (max-width:1340px) {
    .home-grid .home-grid-items .sub-grid ,
    .home-grid .home-grid-items .chart-grid
    {
        grid-template-columns: repeat(2 , 1fr) !important;
    }
    .home-grid .home-grid-items .chart-grid .chart-grid-items .same-box-design .pie-chart-grid .pie-chart-grid-items:nth-child(2) ,
    .home-grid .home-grid-items .chart-grid .chart-grid-items .same-box-design .visit-grid .visit-grid-items .grid
    {
        display: none !important;
    }
    .customer-grid .customer-grid-items .customer-full-information-box .personal-date-grid .personal-date-grid-items .personal-data-grid {
        grid-template-columns: max(110px) minmax(0, 1fr) !important;
        gap: 0 20px !important;
    }
    .customer-grid .customer-grid-items .customer-full-information-box .personal-date-grid .personal-date-grid-items .personal-data-grid {
        padding-left: 0px !important;
    }
    .customer-grid .customer-grid-items .customer-full-information-box .personal-date-grid .personal-date-grid-items .personal-data-grid .personal-data-grid-items p{
        word-break: break-all;
    }
    .customer-grid .customer-grid-items .customer-full-information-box .personal-date-grid .personal-date-grid-items .personal-data-grid .personal-data-grid-items {
        word-break: break-all;
    }


  }


  @media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  
    .customer-grid {
        grid-template-columns: repeat(2 , 1fr) !important;
    }
    .customer-grid .customer-grid-items .customer-full-information-box .personal-date-grid {
        grid-template-columns: repeat(1 , 1fr) !important;
    }
    .customer-grid .customer-grid-items .customer-full-information-box {
        overflow-x: hidden;
        overflow: auto;
    }
    .customer-grid .customer-grid-items .customer-full-information-box .personal-date-grid .personal-date-grid-items:nth-child(1) {
        border-right: 0px !important;
    }
    .customer-grid .customer-grid-items .customer-full-information-box .personal-date-grid .personal-date-grid-items:nth-child(1) ,
    .customer-grid .customer-grid-items .customer-full-information-box .personal-date-grid .personal-date-grid-items:nth-child(2)
    {
        height: auto !important;
    }
  }


  