$body-banner-color:#ECF0F3;
$primary:#193566;
$white:#fff;
$danger:#D5212E;
$full-page-banner:#ECF0F3;
$green-text-color:#008000;
$danger: #D60000;
$vender-btn-background-color:#ECF0F3;
$border-color-1: #D1D7E0;
$blue-color-3:#1479FF;
$light-gray-color:#97A7C3;
