$blue-light:#193566;
$blue:#edf5ff;
$gray:#97A7C3;
$blue-2:#1479FF;
$dark-gray:#97A7C3;
$yellow:#FFD3AA;
$border-color:rgba(25, 53, 102, 0.15);
$white:#fff;
$table-border:#D1D9E6;
$modal-background:#edf5ff;
$base-padding:1rem;
$normal-pixel:5px;
$max-pixel :10px;
$gray-2: #97A7C3;
$validation-color:#E66666;
$border-color-2: #E4E9F2;
$blue-opacity:#edf4ff;
$light-gray:#F3F8FF;
$blue-border: #85BAFF;
