@import '../../../Styles/mixins/global.scss';

.mobile-view-sale-appointments-content-alignment {
    .heading-title {
        padding: 0 0 24px 0;

        h2 {
            font-size: 22px;
            line-height: 36px;
            color: #193566;
            font-weight: 600;
            margin: 0;
        }
    }

    .popular-hours-section-alignment {
        padding: 24px 0;

        .box-height {
            height: 198px;
            background: #FFFFFF;
            border: 1px solid #E4E9F2;
            border-radius: 5px;

            .box-heading {
                overflow-x: scroll;
                padding: 12px 15px;

                p {
                    font-size: 18px;
                    line-height: 27px;
                    color: #193566;
                    font-weight: 600;
                    margin: 0;
                }
            }
        }
    }


    .full-width-box-alignment {
        padding: 24px 0 0 0;

        .full-width-box:last-child {
            margin: 0;
        }

        .full-width-box {
            width: 100%;
            background: #FFFFFF;
            height: 60px;
            border: 1px solid #E4E9F2;
            margin: 0 0 24px 0;
            border-radius: 5px;

            .grid {
                display: grid;
                grid-template-columns: 60px 1fr;
                gap: 8px;
                align-items: center;

                .grid-items {
                    p {
                        color: #8E9CB4;
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: 500;
                    }

                    h4 {
                        font-size: 18px;
                        line-height: 27px;
                        color: #193566;
                        font-weight: 600;
                        margin: 0;
                    }

                    .icon-design {
                        width: 60px;
                        height: 58px;
                        display: flex;
                        background: #E9F7F7;
                        border-radius: 4px 0px 0px 4px;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .sales-first-box {
        border: 1px solid #E4E9F2;
        border-radius: 5px;

        .number-of-inoice-alignment {
            padding: 6px 12px;

            span {
                font-size: 12px;
                line-height: 18px;
                font-weight: 500;
                color: #8E9CB4;
                display: block;
            }

            h6 {
                font-size: 18px;
                line-height: 27px;
                color: #193566;
                font-weight: 600;
                margin: 0;
            }
        }

        .first-box-chart-grid {
            padding: 16px 16px 16px 30px;
            display: grid;
            grid-template-columns: 139px 1fr;
            gap: 21px;

            .first-box-chart-grid-items {
                .chart-alignment {}

                .all-box-alignment {
                    .box-design:last-child {
                        margin: 0;
                    }

                    .box-design {
                        background: #FFFFFF;
                        border: 1px solid #E4E9F2;
                        border-radius: 4px;
                        height: 46px;
                        margin: 0 0 16px 0;
                        align-items: center;
                        display: grid;
                        grid-template-columns: 46px 1fr;
                        gap: 6px;

                        .box-design-items {
                            p {
                                font-size: 10px;
                                line-height: 15px;
                                font-weight: 500;
                                color: #8E9CB4;
                                margin: 0;
                            }

                            h5 {
                                font-size: 14px;
                                line-height: 21px;
                                font-weight: 600;
                                color: #193566;

                                a {
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 500;
                                }
                            }

                            .box-icon-alignment {
                                width: 46px;
                                height: 44px;
                                padding: 8px;
                                display: flex;
                                background: #F6FBFF;
                                border-radius: 4px 0px 0px 4px;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }

        .icon-text-grid {
            display: grid;
            grid-template-columns: 60px 1fr 70px;
            gap: 9px;
            border-bottom: 1px solid #E4E9F2;
            align-items: center;
            height: 60px;

            .icon-text-grid-items {
                position: relative;
                .sale-modal-tooltip-alignment {
                    .content-alignment:last-child {
                        padding: 0;
                    }
                    .content-alignment {
                        display: flex;
                        align-items: center;
                        padding: 0 0 8px 0;

                        justify-content: space-between;
                        div {
                            p {
                                font-size: 12px;
                        line-height: 18px;
                        color: #fff;
                        font-weight: 500;
                            }
                            h2 {
                                font-size: 12px;
                                line-height: 17px;
                                font-weight: 500;
                                color: #fff;
                                span {
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                .generate-invoice-tooltip1 {
                    right: 15px;
                    left: auto;
                    top: 37px;
                }
                .generate-invoice-tooltip1 {
                    width: 235px;
                    height: auto;
                    padding: 8px 12px;
                }
                .generate-invoice-tooltip1::before {
                    content: "";
                    position: absolute;
                    top: -23px;
                    right: 15px;
                    margin-left: -13px;
                    border-width: 13px;
                    border-style: solid;
                    border-color: #193566 transparent transparent transparent;
                    transform: rotate(-178deg);
                }
                .icon-text-grid-items:last-child {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    
                }

                .icon-design-alignment {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    background: #E9F7F7;
                    border-radius: 4px 0px 0px 0px;
                }

                h5 {
                    font-size: 12px;
                    margin: 0;
                    line-height: 18px;
                    font-weight: 500;
                    color: #8E9CB4;
                }

                button {
                    padding: 5px 7px;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    color: #46BFBD;
                    justify-content: center;
                    cursor: pointer;
                    background: #EDF9F9;
                    border: 1px solid #A3DFDE;
                    border-radius: 5px;
                }

                p {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 27px;
                    margin: 0;
                    color: #193566;

                    a {
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }
    }

}